{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>EDA Project</title>
    </head>
    <body>
        
        <h1>프로그래머스 1개월차 Monthly 미션</h1>
        <h2>
            Mission : It's Your Turn!<br>
            1. 본문에서 언급된 Feature를 제외하고 유의미한 Feature를 1개 이상 찾아봅시다.
        </h2>
        <h3>Fare Column</h3>
        <img src="{% static 'img/fare.png' %}" style="max-width:50%; height:auto;">
        <h2>2. Kaggle에서 Dataset을 찾고, 이 Dataset에서 유의미한 Feature를 3개 이상 찾고 이를 시각화해봅시다.</h2>
        <h3>저는 Kaggle에서 집값을 예측하기 위한 Dataset을 받아왔습니다.</h3>
        <img src="{% static 'img/load.png' %}" style="max-width:50%; height:auto;">
        <h3>Dataset에 있는 이상치를 수정 또는 삭제했습니다.</h3>
        <img src="{% static 'img/modify.png' %}" style="max-width:50%; height:auto;">
        <h3>상관 분석을 통해서 관련이 있을법한 column들을 골랐습니다.</h3>
        <img src="{% static 'img/corr1.png' %}" style="max-width:50%; height:auto;">
        <img src="{% static 'img/corr2.png' %}" style="max-width:50%; height:auto;">
    </body>
</html>